

.Header{
    background: #E2EDFF;
    font-size: 1.5rem;
    color: #2C3F6A;
}


.left{
    justify-content: right;
    width: auto;
    font-size: 1.5rem;
    padding: 1.5rem;
    
}

footer{
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    background: #F4F7FF1A;
}

.RSVP{
background: #2C3F6A;
color: white;
padding-top:0.5rem;
padding-bottom: 0;
border: 0;
margin: 0;
height: 3rem;
width: 6rem;

}

.contactUsSection
{
  width: 80%;
  margin: auto;
}
.contactUsTitle
{
  font-family: Inter;
font-size: 3rem;
font-weight: 700;
line-height: 3.625rem;
letter-spacing: 0.001rem;
text-align: left;

color: #2C3F6A;
}
.contactUsText
{
  font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.20000000298023224px;

color: white;
}

.contactbutton{
    background-color: #2C3F6A;
    color: white;
    margin: auto;
}
.butright{
    margin-left: 1rem;
}
.butleft{
    margin-left: 1rem;
}

.contacticon{
    margin: auto;
}